main {
    width: 100%;
    height: calc(100vh - 64px);
    position: relative;
}
.hero > h3 {
    font-size: 60px;
    font-weight: 200;
    width: fit-content;
    position: absolute;
    right: 16px;
    bottom: 160px;
}
.hero > h2 {
    font-size: 80px;
    font-weight: 700;
    width: fit-content;
    position: absolute;
    right: 16px;
    bottom: 64px;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}


@media screen and (max-width: 844px) {
    header {
        height: 150px;
    }
    header h1 {
        width: 84px;
    }

    header > nav > a {
        text-align: right;
        width: 100%;
    }

    main {
        height: calc(100vh - 150px);
    }
    .hero {
        text-align: right;
    }

    .hero > h3 {
        right: 16px;
        bottom: 78px;
        font-size: 40px
    }
    .hero > h2 {
        right: 16px;
        bottom: 32px;
        font-size: 48px;
    }
  }